.header-copy {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    width: 50%;      
    margin: 0 auto;  
}

.form-group {
    margin-bottom: 1rem; 
}

.form-copy {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left; 
}

.form-field {
    width: 100%; 
    padding: 0.5rem; 
    box-sizing: border-box; 
}






button {
    display: block;
    margin: 1rem auto; 
    padding: 0.5rem 1rem;
}


  .success-message {
    width: fit-content;
    border: 1px solid red;
    padding: 10px;
    margin: 20px auto;  
    text-align: center;
    color: black;
    background-color: #f9f9f9;
    display: block;   
}